.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
  }
  
  mat-card {
    width: 400px;
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  